@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

.navbar-brand {
  color: #ffffff;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold";
  font-size: 35px;
}

.custom-nav-text {
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
  font-size: 25px;
  color: #ffffff;
}
.custom-nav-text:hover {
  color: black;
}

.nav-bg-custom {
  background-image: linear-gradient(
    to bottom right,
    rgb(61, 61, 248),
    rgba(0, 153, 255, 0.884)
  );
}

.navbar-dark .navbar-nav > .nav-item > .active {
  color: white; /* <—– change your color here*/
  text-decoration-line: underline;
}

.navbar-dark .navbar-nav > .nav-item > a:hover {
  color: #ff0062;
}

.navbar-dark .navbar-nav > .nav-item > a {
  color: #ffffff; /* <—– change your color here*/
}
.navBar-container {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 50px;
}

.dropdown-custom .dropdown-menu .list-group-item {
  background-color: transparent;
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
  font-size: 25px;
}

.card {
  background-color: transparent;
}

.card-body {
  margin: 0%;
  padding: 0%;
}

.list-group-item {
  background-color: transparent !important;
}

.small-text-custom {
  color: #ffffff;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold";
  font-size: 20px;
}
.custom-event-text {
  color: white;
}
.custom-event-text:hover {
  color: black;
}
